<!-- Header -->
<header id="top" class="dheader">
	
</header>

<div class="div-container">
	<input type="text" class="form-control input-sm" placeholder="Search" />

	<div class="results">
	</div>
</div>

<div id="footer"  class="panel-footer">
	<ul>
		<li class="image-footer">
		    <img src='/img/portfolio-1.jpg' />
		</li>
		<li class="image-footer">
		    <img src='/img/portfolio-2.jpg' />
		</li>
		<li class="image-footer">
		    <img src='/img/portfolio-3.jpg' />
		</li>
		<li class="image-footer">
		    <img src='/img/portfolio-4.jpg' />
		</li>
	</ul>
</div>
