
<script src="bootstrap-datedropdown.js"></script>

<form class="form-horizontal">
  <fieldset>
    <legend>Profile</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Keep me up to date!
          </label>
        </div>
      </div>
    </div>
     <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">City</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCity" placeholder="City">
      </div>
    </div>
     <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputAddress" placeholder="Address">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Sex</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Female
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="selectDate">Date of Birth:</label>
        <select id="selectDate" style="width:auto;" class="form-control selectWidth">
            @for ($i = 1; $i <= 31; $i++)
            <option class="">{{$i}}</option>
            @endfor
        </select>
        <select id="selectMonth" style="width:auto;" class="form-control selectWidth">
            @for ($i = 1; $i <= 12; $i++)
            <option class="">{{$i}}</option>
            @endfor
        </select>
        <select id="selectYear" style="width:auto;" class="form-control selectWidth">
            @for ($i = 1900; $i <= 2015; $i++)
            <option class="">{{$i}}</option>
            @endfor
        </select>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>